/* Global */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
  }

 body{
    font-family: 'Montserrat', sans-serif;
 /* neu khong nghi fs thi 1 rem = 16px */
    /* 1rem = 20px */
    font-size:20px;

   
 } 

 /* HEADER */
.header{
    background-color: #4e2a84;
    color: white;
}

.header p{
    font-size: 2rem;
}
 .header nav ul{
    list-style: none;
 }
 .header nav ul li{
     display: inline;
     margin: 0 10px;
 }
 .header nav ul a{
     text-decoration: none;
     color: white;
     font-size: 1rem;
 }

 .header__content{
     width:70%;
     margin: 0 auto;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex; 
     /* canh theo chieu ngang */
     -ms-flex-pack: distribute;
         justify-content: space-around;
     /* canh theo doc */
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
 }

 /* Carousel */
 .carousel{
     background-image: url('../img/b3.jpg');
     height: 600px;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     color: white;
     /* canh giu the con, chi ap dung cho 1 con */
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     text-align: center;
 }

.carousel__content button{
    background-color: #ff0e83;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: UpDown 1s linear .5s infinite;
} 

.carousel__content button:hover{
    background-color: white;
    border: 1px solid #ff0e83;
    color: black;
    
}

/* Intro */
.intro{
    display: grid;
    /* grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-columns: repeat(4,25%); */
    grid-template-columns: repeat(4,1fr);
   

}

.intro__ab1{
    /* grid-column: 2 / 4; */
    grid-column: 2 / span 2;
}

.intro__best{
     /* grid-column: 1 / 3; */
    grid-column: 1 / span 2;
}

.intro__ab4{
    /* grid-column: 3 / 5; */
    /* grid-column: 3 / span 2; */
    grid-column: 3 / span 2;
  
}

.intro__items img{
    width: 100%;
    display: block;
}

/* Number */
.number{
    padding: 50px 0;
}
.number__content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.number__items p:first-child{
    color: #4e2a84;
    font-weight: 700;
}
.number__items p:nth-child(2){
    color: black;
    font-weight: 700;
}
/* .number__items p:last-child{
    color: #4e2a84;
    font-weight: 700;
} */

/* Services */
.services{
    text-align: center;
}
.services__content{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.services__items{
    padding: 0 10px;
}

.services__items i{
    font-size: 4rem;
    color: #4e2a84;
    /* ap dung cho 1 dong text */
    width: 100px;
    height: 100px;
    line-height: 100px;

    border: 1px solid #4e2a84;
    border-radius: 50%;
    /* transition-property: all;
    transition-delay: 0s;
    transition-duration: .5s;
    transition-timing-function: linear; */
    transition:all .5s linear;
}

.services__items i:hover{
    color: #ff0e83;

}

/* Gallery */
.gallery__content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    padding: 0 20px;
}
.gallery__items1{
    grid-column: 1 / span 2;
}
.gallery__items6{
    grid-column: 3 / span 2;
}

.gallery__items img{
    width: 100%;
    height: 100%;
    display: block;
}
.gallery__items{
    position: relative;
}
.gallery__text{
    color: white;
    /* background-color: black; */
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 50px;
}

.gallery__text1{
    position: absolute;
    right:30px;
    bottom: 30px;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s;
}

.gallery__text h3::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: white;
    display: block;
    margin-top:20px;
    transform: translateY(50px);
    opacity: 0;
    transition: all .5s;
}
.gallery__items h3{
    transition: all .5s;
}
.gallery__items:hover h3{
    transform: translateY(-25px);
}

.gallery__items:hover h3::after{
    opacity: 1;
    transform: translateY(0);
}

.gallery__items:hover .gallery__text1{
    opacity: 1;
    transform: translateY(0);
}

/* Team */
.team{
    padding: 50px 0;
}
.team__content{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}

.team__items img{
    width: 100%;
    height: 100%;
    display: block;
}
.team__items{
    position: relative;
}
.team__text{
    position: absolute;
    bottom: 0;
    left:0;
    background-color: #ff0e83;
    color: white;
    padding: 20px;
    width: 100%;
    opacity: 1;
    transition: all .5s;
}
.team__items:hover .team__text{
    opacity: 0;
}
.team__info{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: all .5s;
}

.team__items:hover .team__info{
    opacity: 1;
}

.team__items2 {
    overflow: hidden;
}
.team__items2 .team__info{
    
    transform: translateX(-110%);
    transition: all 0.5s;
}

.team__items2:hover .team__info{
    transform: translateX(0);
}

.team__items3 .team__info{
    /* opacity: 1; */
    transform: rotate(0);
}
.team__items3:hover .team__info{
    transform: rotate(360deg);
}

.team__items4 .team__info{
    transform: scale(0);
    transition: all 1s;
}
.team__items4:hover .team__info{
    transform: scale(1);
}

/* CONTACT */
.contact{
    padding: 50px 0;
}

.contact__form{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}
.contact__message, .contact__submit{
    grid-column: 1/span 2;
    /* grid-column: 1/3; */
}

.contact__form input{
    padding: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

.contact__form .contact__message{
    padding: 20px;
    border: 1px solid black;
}

.contact__form .contact__submit{
    padding: 20px;
    border: 1px solid #ff0e83;
    background-color: #ff0e83;
}

.contact__form .contact__message::placeholder{
    color: black;
}

.contact__form input:focus{
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.googleMap{
    width: 100%;
    height: 500px;
}

/* Back to Top */
.toTop{
    position: fixed;
    right:20px;
    bottom: 50px;
}
.toTop i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    border: 2px solid rgba(0,123,255,.5);
    border-radius: 50%;
    color: rgba(0,123,255,.5);
    font-size: 3rem;
    text-align: center;
    
}

/* // back-to-top button visible */
.toTop .toTopLink{
    opacity: 0;
    visibility: hidden;
  }

.toTop .cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
 
@keyframes UpDown{
    /* 100s */
    0%{

    }
    25%{
        transform: translateY(-45px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(45px);
    }
    100%{
        transform: translateY(0);
    }
}