@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}

@mixin styleButton($bg-color ,$border, $pd-top-bottom, $pd-right-left) {
    background-color: $bg-color;
    border: 1px solid $border ;
    padding: $pd-top-bottom $pd-right-left; 
}

@mixin hoverButton($bg-color,$color, $border) {
    background-color: $bg-color ;
    color: $color ;
    border: 1px solid $border;
}

@mixin searchStyle($bg-color,$border,$bg-focus,$border-focus) {
    .input-group{
                
                background-color: $bg-color;
                border: 1px solid $border;
                .form-control{
                    background-color: transparent;
                    border: 1px solid transparent;
                    transition: none;
                    
                    &:focus{
                        box-shadow: none;
                        background-color: $bg-focus;
                        border-top: 1px solid $border-focus;
                        border-bottom: 1px solid $border-focus;
                        border-left: 1px solid $border-focus;
                        border-radius: 0;
                        & + .input-group-append{
                            .input-group-text{
                                border-radius: 0;
                                background-color: $bg-focus;
                                border-top: 1px solid $border-focus;
                                border-bottom: 1px solid $border-focus;
                                border-right: 1px solid $border-focus;
                                &:hover{
                        @include hoverButton($color-red-0,$color-white-0, $color-red-0); 
                                }
                            }
                        }
                    }
                }
                .input-group-text{
                    background-color: transparent;
                    border: 1px solid transparent;
                    color: $color-red-0;
                    &:hover{
                        border-radius: 0;
                        @include hoverButton($color-red-0,$color-white-0, $color-red-0); 
                    }
                }
            }
}

@mixin mediaQuery($screen) {
    // dung voi mang, map la ten mang, bien $screen la ten phan tu trong mang
    @if map-has-key($map: $breakpoints , $key: $screen ){
        $value: map-get($map: $breakpoints , $key: $screen);
        @media screen and (max-width: $value) {
            @content;
        }
    }
    @else{
        @warn "`#{$screen}` khong ton tai";
    }
}